{% extends './produtos/layout.html.twig' %}

{% block header %}
<header>
  <hgroup>
    <h1>Orama Sistemas</h1>
    <h>Desafio Symfony</h3>
  </hgroup>
  <ul class="nav nav-tabs">
    <li class="nav-item dropdown active" role="button">
      <a href="{{ path('contatos_homepage') }}" class="nav-link active dropdown-header">Contatos</a>
      <div class="dropdown-menu">
        <a href="{{ path('contatos_homepage') }}" class="dropdown-item">Lista</a>
        <a href="#" class="dropdown-item">Busca</a>
        <a href="{{ path('contatos_novo') }}" class="dropdown-item">Novo</a>
      </div>
    </li>
    <li class="nav-item dropdown" role="button">
      <a href="{{ path('produtos_homepage') }}" class="nav-link dropdown-header">Produtos</a>
      <div class="dropdown-menu">
        <a href="{{ path('produtos') }}" class="dropdown-item">Lista</a>
        <a href="" class="dropdown-item ">Busca</a>
        <a href="" class="dropdown-item ">Novo</a>
      </div>
    </li>
    <li class="nav-item dropdown" role="button">
      <a href="{{ path('promotores_homepage') }}" class="nav-link dropdown-header">Promotores</a>
      <div class="dropdown-menu">
        <a href="" class="dropdown-item">Rotinas</a>
        <a href="" class="dropdown-item">Busca</a>
        <a href="" class="dropdown-item">Novo</a>
      </div>
    </li>
  </ul>
</header>
{% endblock %}

{% block body %}
      <main class="container-fluid">
        <div class="row">
          <aside class="col-3">
          </aside>
          <div class="col-8">
            <div>
              <h1 class="fs-3">Listagem de contatos</h1>
            </div>

            <ul class="list-group py-4">
            {% for contato in contatos %}
              <li class="list-group-item">{{ contato.nome }} {{ contato.email }} {{ contato.telefone }} <a href="{{ path('contatos_edita', {id: contato.id}) }}" class="btn btn-secondary">Editar</a></li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </main>
{% endblock %}
