{% extends 'produtos/layout.html.twig' %}
{% block javascripts %}<script src="{{ asset('js/app.js') }}"></script>{% endblock %}

{% block main %}
    <table class="table table-hover">
	  <thead>
	    <tr class="row">
		    <th class="col-12 bg-secondary">tabela de produtos</th>
		  </tr>
	  </thead>
	  <tbody>
    {% for produto in produtos %}
        <tr class="row">
          <td class="col-4">{{ produto.descricao }}</td>
          <td class="col-3">{{ produto.fornecedor }}</td>
          <td class="col">{{ produto.dta_fabricacao }}</td>
          <td class="col">{{ produto.dta_validade }}</td>
          <td class="col-1 text-right">R$ {{ produto.preco }}</td>
          <td class="col-1 text-right">{{ produto.quantidade }}</td>
        </tr>
    {% endfor %}
	</tbody>
  </table>
{% endblock %}

{% block sidebar %}
  <ul class="list-group">
    <li class="list-group-item">
      <a href="{{ path('produtos_novo') }}" class="btn w-100">Novo</a>
    </li>
  </ul>
{% endblock %}
